<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Chart</title>
</head>
<style>
    .soil_moisture {
        width: 60%;
        margin: 10px auto;
    }

    .soil_moisture div h2 {
        display: flex;
        justify-content: center;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AgroNet System</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/108px-Hamburger_icon.svg.png"
          height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link" href="{% url 'Dashboard' %}"><button class="btn btn-tertiary">Register Device</button></a>
              <a class="nav-link" href="{% url 'DailyRecords' %}"><button class="btn btn-tertiary">Update Records</button></a>
              <a class="nav-link" href="{% url 'Reports' %}"><button class="btn btn-tertiary">Reports</button></a>
              <a class="nav-link" href="{% url 'charts' %}"><button class="btn btn-tertiary">Charts</button></a>
              <a class="nav-link" href="{% url 'logoutuser' %}"><button class="btn btn-tertiary">Sign Out</button></a>
            </div>
          </div>
        </div>
      </nav>
    <div class="soil_moisture">
        <div>
            <h2 class="mb-3">Soil Moisture</h2>
            <canvas id="myChart"></canvas>
            <h1 id="soil_moisture">Current Value : {{ soil_moisture }}/h1>
        </div>
    </div>
    <div class="soil_moisture">
        <div>
            <h2 class="mb-3">Temperature</h2>
            <canvas id="myChart1"></canvas>
            <h1 id="temperature">Current Value : {{ temperature }}</h1>
        </div>
    </div>
    <div class="soil_moisture">
        <div>
            <h2 class="mb-3">Humidity</h2>
            <canvas id="myChart2"></canvas>
            <h1 id="humidity">Current Value : {{ humidity }}</h1>
        </div>
    </div>
</body>
<script>
    var array_soil_moisture = [0, 70, 65, 50, 60, 77, 83, 34, 21, 17]
    var array_temperature = [45.3, 44.2, 44.2, 44.2, 35.0, 34.6, 35.0, 35.0, 44.0, 44.0]
    var array_humidity = []
    function fetch_API() {
        var data = fetch("/chartsData/").then(x => x.json()).then(y => {
            console.log(y.temperature)
            // array_soil_moisture.push(y.soil_moisture);
            // array_temperature.push(y.temperature);
            // array_humidity.push(y.humidity);
            // if (array_humidity.length>=10) {
            //     array_humidity.shift()
            //     console.log("In if" + array_humidity)
            // }
            document.getElementById('soil_moisture').innerHTML = `Current Value : ${y.soil_moisture}`;
            document.getElementById('temperature').innerHTML = `Current Value : ${y.temperature}`;
            document.getElementById('humidity').innerHTML = `Current Value : ${y.humidity}`;
            array_humidity.push(y.humidity)
            if (array_humidity.length>5) {
                array_humidity.shift()
            }

        })
    }
    
    setInterval(() => {
        fetch_API();
        console.log("Humidity " + array_humidity)
    }, 5000);
    // function updateChart() {
    //     // Make an AJAX request to your Django API endpoint
    //     $.ajax({
    //         url: '/chartsData/',  // Replace with your actual API endpoint URL
    //         method: 'GET',
    //         success: function (response) {
    //             // Process the response and update the chart data
    //             var newData = response.data;
    //             myChart.data.datasets[0].data = newData;
    //             myChart.update();  // Update the chart with new data
    //         },
    //         error: function (error) {
    //             console.log(error);
    //         }
    //     });
    // }

    // Update the chart every 5 seconds
    // setInterval(updateChart, 5000);
    const xValues = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: array_soil_moisture
            }]
        },
        options: {
            legend: { display: false },
        }
    });


    new Chart("myChart1", {
        type: "line",
        
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: array_temperature
            }]
        },
        options: {
            legend: { display: false },
        }
    });
    new Chart("myChart2", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: array_humidity
            }]
        },
        options: {
            legend: { display: false },
        }
    });
</script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDeAs4txtXVqChTWxdGyC6euYXQaDINOUU",
        authDomain: "connectnodemcu-a8b8d.firebaseapp.com",
        databaseURL: "https://connectnodemcu-a8b8d-default-rtdb.firebaseio.com",
        projectId: "connectnodemcu-a8b8d",
        storageBucket: "connectnodemcu-a8b8d.appspot.com",
        messagingSenderId: "832135122112",
        appId: "1:832135122112:web:a952efbe8d2f0990e6b125"
    };

    // // Initialize Firebase
    const app = initializeApp(firebaseConfig);

</script>

</html>
