<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Reports</title>
</head>
<style>
    input,
    select {
        margin: 5px;
    }

    button {
        margin: 5px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AgroNet System</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/108px-Hamburger_icon.svg.png"
                    height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;" />
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="{% url 'Dashboard' %}"><button class="btn btn-tertiary">Register
                            Device</button></a>
                    <a class="nav-link" href="{% url 'DailyRecords' %}"><button class="btn btn-tertiary">Update
                            Records</button></a>
                    <a class="nav-link" href="{% url 'Reports' %}"><button class="btn btn-tertiary">Reports</button></a>
                    <a class="nav-link" href="{% url 'charts' %}"><button class="btn btn-tertiary">Charts</button></a>
                    <a class="nav-link" href="{% url 'logoutuser' %}"><button class="btn btn-tertiary">Sign
                            Out</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container"
        style="margin:30px auto; width: 50%;border: 1px solid rgb(191, 184, 184); border-radius: 10px;padding: 20px;">
        <h3>Reports</h3>
        <table>
            <tr>
                <td>Plot ID </td>
                <td><select class="form-control" name="display_plotid" id="display_plotid">
                        <option>--Select Plot ID--</option>
                        {% for i in '123456789'|make_list %}
                        <option value="/Reports?param={{forloop.counter}}" {% if num == i %} selected {% endif %}>
                            {{forloop.counter}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <td>Plant Name </td>
                <td><select class="form-control" name="display_plant_name" id="display_plant_name">
                        <option>--Select Plant Name--</option>
                        {% for dat in data %}
                        <option value="/Reports?param1={{dat.pk}}" name="display_names">{{dat.plant_name}}</option>
                        {% endfor %}
                    </select></td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table" border="0" cellspacing="2">
            <tr>
                <th scope="col">Register No</th>
                <th scope="col">Device No</th>
                <th scope="col">Plot ID</th>
                <th scope="col">Plant Name</th>
                <th scope="col">Crop</th>
                <th scope="col">Sensor Type</th>
                <th scope="col">Mesurement</th>
                <th scope="col">Longitude</th>
                <th scope="col">Latitude</th>
                <th scope="col">Registration Date</th>
                <th scope="col">Registration Time</th>
            </tr>
            {% for i in sensors %}
            <tr>
                <td>{{ i.register_no }}</td>
                <td>{{ i.device_no }}</td>
                <td>{{ i.plot_id }}</td>
                <td>{{ i.plant_name }}</td>
                <td>{{ i.crop }}</td>
                <td>{{ i.sen_type }}</td>
                <td>{{ i.measurement }}</td>
                <td>{{ i.sen_longitude }}</td>
                <td>{{ i.sen_latitude }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.time_zone }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <table border="0" cellspacing="3" class="table">

            <tr>
                <th>Sensor Value</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for i in history %}
            <tr>
                <td>{{i.sensor_value2}}</td>
                <td>{{i.value_date2}}</td>
                <td>{{i.value_time2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script>
    $(function () {
        $('#display_plotid').on('change', function () {
            var url = $(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });
    $(function () {
        $('#display_plant_name').on('change', function () {
            var url = $(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });

</script>

</html>
