<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'reports.css' %}"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
    <title>Reports</title>
</head>
<style>
    input, select{
        margin: 5px;
    }
    button{
        margin: 5px;
    }
</style>
<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <a class="navbar-brand me-2" href="/">AgroNet System 
            
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/108px-Hamburger_icon.svg.png"
      height="16"
      alt="MDB Logo"
      loading="lazy"
      style="margin-top: -1px;"
    />
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->

                <div class="d-flex align-items-center">
                    <a href="{% url 'Dashboard' %}"><button class="btn btn-link px-3 me-2">Register Device</button></a>
                    <a href="{% url 'DailyRecords' %}"><button class="btn btn-link px-3 me-2">Update Records</button></a>
                    <a href="{% url 'Reports' %}"><button class="btn btn-link px-3 me-2">Reports</button></a>
                    <a href="{% url 'charts' %}"><button class="btn btn-link px-3 me-2">Charts</button></a>
                    <a href="{% url 'logoutuser' %}"><button class="btn btn-link px-3 me-2">Sign Out</button></a>

                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <div class="container" style="margin:30px auto; width: 50%;border: 1px solid rgb(191, 184, 184); border-radius: 10px;padding: 20px;">
        <h3>Reports</h3>
        <table>
            <tr>
                <td>Plot ID </td>
                <!-- <td></td> -->
                <td><select class="form-control" name="display_plotid" id="display_plotid">
                    <option>--Select Plot ID--</option>
                    {% for i in '123456789'|make_list %}
                    <option value="/Reports?param={{forloop.counter}}" {% if num == i %} selected {% endif %}>{{forloop.counter}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Plant Name </td>
                <!-- <td></td> -->
                <td><select  class="form-control" name="display_plant_name" id="display_plant_name">
                    <option>--Select Plant Name--</option>
                    {% for dat in data %}
                    <option value="/Reports?param1={{dat.pk}}" name="display_names">{{dat.plant_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
        </table>
    </div>
    <div class="main">
        <table class="table" border="0" cellspacing="2">
            <tr>
                <th>Register No</th>
                <th>Device No</th>
                <th>Plot ID</th>
                <th>Plant Name</th>
                <th>Crop</th>
                <th>Sensor Type</th>
                <th>Mesurement</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Registration Date</th>
                <th>Registration Time</th>
            </tr>
            {% for i in sensors %}
            <tr>
                <td>{{ i.register_no }}</td>
                <td>{{ i.device_no }}</td>
                <td>{{ i.plot_id }}</td>
                <td>{{ i.plant_name }}</td>
                <td>{{ i.crop }}</td>
                <td>{{ i.sen_type }}</td>
                <td>{{ i.measurement }}</td>
                <td>{{ i.sen_longitude }}</td>
                <td>{{ i.sen_latitude }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.time_zone }}</td>
                <!-- <td><a href="?param1={{i.pk}}">Details</a></td> -->
            </tr>
            {% endfor %}
        </table>
        <br>
        <table border="0" cellspacing="3" class="table">

            <tr>
                <th>Sensor Value</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for i in history %}
            <tr>
                <td>{{i.sensor_value2}}</td>
                <td>{{i.value_date2}}</td>
                <td>{{i.value_time2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script>
    $(function () {
        $('#display_plotid').on('change', function () {
            var url = $(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });
    $(function () {
        $('#display_plant_name').on('change', function () {
            var url = $(this).val();
            if (url) {
                window.location = url;
            }
            return false;
        });
    });

</script>

</html>